@import "~@angular/material/theming";

@include mat-core();

@import "theme.scss";

.ui-theme {
    @include angular-material-theme($ui-theme);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
    margin: 0 16px;
}
